*{margin: 0;}
body{
    margin: 0px;
    padding: 0px;
    background: lightblue;
}
/* PORTADA */
.title{
    position: relative;
    background: transparent;
}
.title h1{
    margin: 3vh 30vw;
    height: 4vh;
    width: 40vw;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    background: white;
    border-radius: 50%;
    border: solid 10px #d34228;
}
/*Portada*/
.title img{
    position: absolute;
    z-index: -1;
    margin-top: -40px;
    width: 100%;
    height: 152px;
}
#p2{
    margin-left: 50%;
}
/* BARRA DE NAVEGACIÓN */
.contentBar{
    background-color: #000000;
    padding: 20px;
}
/* Selector */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #2d2d2d;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}
option:checked {
    background-color: rgb(145, 145, 145);
}
.contentSelect{
    max-width: 350px;
    position: relative;
}
.contentSelect select{
    float: left;
    width: 100%;
    cursor: pointer;
    height: 42px;
    font-size: 1em;
    font-family: 	'Quicksand', sans-serif;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
.contentSelect select:hover{
    padding-top: 50px;
}
.contentSelect i{
    background: transparent;
    position: absolute;
    right: 13px;
    top: calc(50% - -8px);
    width: 15px;
    height: 15px;
    display: block;
    border-left: 4px solid #828282;
    border-bottom: 4px solid #828282;
    transform: rotate(-45deg);
    transition: all 0.25s ease;
}
.contentSelect:hover i{
    z-index: 2;
    border-left: 3px solid #d32828;
    border-bottom: 3px solid #d32828;
    transform: rotate(-405deg);
    background: transparent;
    margin-top: 20px;
    margin-right: calc(50% - 20px);
}
/* Botones */
button{
    background: #2d2d2d;
    color: white;
    margin: 0px 0px 0px 10px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    position: relative;
}
#btnIniciar:hover{
    background:green;
}
#btnParar:hover{
    background: rgba(255, 0, 0, 0.701);
}
#btnReiniciar:hover{
    background: rgba(0, 0, 180, 0.687);
}
#btnReiniciar,#btnParar{
    display: none;
}

/* CONTENIDO DE LA CARRERA */
.pistaCarreras img{
    margin-top: -40px;
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -2;
}
.coches div{
    z-index: 1;
    position: relative;
    margin-left: 0;
    display: none;
}
.coches div img{
    margin-top: -30px;

    position: relative;
    z-index: 1;
    width: 100px;
    height: 50px;
}
.coches{
    margin-top: 40px;
    padding-top: 20px;
    height: 240px;
}
/* MARCADOR */
.marcador{
    font-family: 'Quicksand', sans-serif;
    color: white;
    height: 290px;
    background: #202020;
    border-radius: 15px;
    margin: 20px;
    display: none;
}
.marcador h2{
    text-align: center;
    background: black;
    padding: 7px 0px 7px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.marcador table{
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 55px 10px 0px;
}
.marcador table td, th{ padding-left: 30px; }


@media only screen and (max-width: 800px)  {
    .title h1{ font-size: 3vw; }
}
@media only screen and (max-width: 600px) {
    .contentSelect{ max-width: 60%; }
}
@media only screen and (max-height: 1000px) and (max-width: 800px) {
    .title h1{ font-size: 12px; }

}
